@charset "UTF-8";

body{
	background-color: white;
	font-family: Verdana, Helvetica, Arial;

}

h1{
	text-align: center;
}

h2{
	color: black;
	text-align: center;
}

p{
	color: black;
}

#container{
	width: 90%;
	background-color: whitesmoke;
	padding: 10px 40px;
	margin: 0 auto;
  	font-family: Verdana, Helvetica, Arial;
  	border: solid 1px black;
  	text-align: justify;
}

#login{
	width: 90%;
	background-color: whitesmoke;
	padding: 10px 40px;
	margin: 0 auto;
  	font-family: Verdana, Helvetica, Arial;
  	border: solid 1px black;
  	text-align: center;
}

#faixa{
	width: 90%;
	background-color:#006400;
	padding: 10px 40px;
	margin: 0 auto;
	border: solid 1px black;
	font-family: Verdana, Helvetica, Arial;
	color: white;
}

#linha{
	width: 90%;
	background-color: whitesmoke;
	padding: 1px 40px;
	margin: 0 auto;
	border: solid 1px black;
	font-family: Verdana, Helvetica, Arial;
	color: black;
}


#faixa1{
	width: 350px;
	background-color: #006400;
	padding: 10px 40px;
	margin: 0 auto;
	border: solid 1px black;
	font-family: Verdana, Helvetica, Arial;
	color: white;
}

#logo{
	text-align: center;
}

#bloco{
	background: whitesmoke;
	width: 350px;
	height: 245px;
	border: solid black 1px;
	margin: 0 auto;
	padding: 10px 40px;
}

#item{
	background: #2E8B57;
	color: white;
	width: 240px;
	height: 50px;
	border: solid black 1px;
	padding: 05px 20px;
}

.botao{
	border-radius: 10px;
	border: 1px solid #333;
	background-color: #006400;
	color: white;
	height: 25px;
	width: 90px;
}

.botaoMaior{
	width: 200px;
	height: 70px;
	font-family: Verdana, Helvetica, Arial;
	border-radius: 5px;
	background-color: #006400;
	color: white;
}

.botaoCarro{
	width: 200px;
	height: 70px;
	font-family: Verdana, Helvetica, Arial;
	border: solid black 3px;
	border-radius: 5px;
	background-color: white;
	color: black;
	text-align: justify;
}

.botaoReserva{
	width: 450px;
	height: 190px;
	font-family: Verdana, Helvetica, Arial;
	border: solid black 3px;
	border-radius: 5px;
	background-color: white;
	color: black;
	text-align: justify;
}

#sair{
	text-align: right;
	font-family: Verdana, Helvetica, Arial;
}